.root {
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.root img {
  display: block;
  height: 34px;
  width: auto;
}
